{% extends "devs/platform.html" %}
{% block navbar %}
    <form method="post" action="/logout">
        <button class="button navbar-button pull-right" type="submit"><b>logout</b></button>
    </form>
    <form method="post" action="/settings">
        <button class="button navbar-button pull-right" type="submit"><b>settings</b></button>
    </form>
    <form method="post" action="/search">
        <button class="button navbar-button pull-right" type="submit"><b>search</b></button>
    </form>
{% endblock %}
{% block content %}
    <p class="heading">Last applied jobs.</p>
    <hr class="hr"/>
    {% if jobs %}
        {% for i in jobs %}
            <p class="job">{{ i.title }} | {{ i.salary }} € | {{ i.location }}</p>
            <form method="post" action="/job/{{ i.id }}">
                <button type="submit" class="button">show</button>
            </form>
            <hr class="hr-job"/>
        {% endfor %}
    {% endif %}
{% endblock %}
