{% extends "devs/platform.html" %}
{% block navbar %}
    <form method="post" action="/logout">
        <button class="button navbar-button pull-right" type="submit"><b>logout</b></button>
    </form>
    <form method="post" action="/settings">
        <button class="button navbar-button pull-right" type="submit"><b>settings</b></button>
    </form>
    <form method="post" action="/dashboard">
        <button class="button navbar-button pull-right" type="submit"><b>dashboard</b></button>
    </form>
{% endblock %}
{% block content %}
    <form action="/search" method="post">
        <input type="text" class="form-input-search" name="query" placeholder="ex: Software Engineer, Lisbon, Remote, Internship"/>
        <button class="button" type="submit"><b>search</b></button>
    </form>
    {% if results %}
        <hr class="hr"/>
        {% for i in results %}
            {% if dev not in i.dev_applications %}
                <p class="job">{{ i.title }} | {{ i.salary }} € | {{ i.location }}</p>
                <form method="post" action="/job/{{ i.id }}">
                    <button type="submit" class="button">show</button>
                    <button type="submit" class="button" form="apply">apply</button>
                </form>
                <form method="post" action="/apply/{{ i.id }}" id="apply">
                </form>
                <hr class="hr-job"/>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
