{% extends "companies/platform.html" %}
{% block navbar %}
    <form method="post" action="/logout">
        <button class="button navbar-button pull-right" type="submit"><b>logout</b></button>
    </form>
    <form method="get" action="/search">
        <button class="button navbar-button pull-right" type="submit"><b>search</b></button>
    </form>
    <form method="post" action="/settings">
        <button class="button navbar-button pull-right" type="submit"><b>account</b></button>
    </form>
{% endblock %}
{% block content %}
    <p class="heading">Last applied jobs</p>
    <hr class="hr"/>
{% endblock %}
