<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/static/css/devjobs.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <title>DevJobs</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center text-center-vertical-third-page">
            <p class="logo-text-size"><b>dev</b><u>jobs</u></p>
            <center>
                {% if alert %}
                    <div class="{{ "alert alert-" + alert_type }}">
                        {{ alert }}
                    </div>
                {% endif %}
                <form action="/c/register" method="post" enctype="multipart/form-data">
                    <input type="text" class="form-input" placeholder="your professional email" name="email"/>
                    <input type="password" class="form-input" placeholder="your strong password" name="pwd"/>
                    <textarea name="description" placeholder="a brief description of your company" class="form-input"
                              cols="40" rows="3" style="resize: none;"></textarea>
                    <hr class="hr"/>
                    <button class="button" type="submit"><b>register</b></button>
                </form>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center footer">
            <hr class="hr"/>
            <p class="footer-email">info@devjobs.xyz</p>
        </div>
    </div>
</div>
</body>
</html>