<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/static/css/devjobs.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <title>DevJobs</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center text-center-vertical-third-page">
            <p class="logo-text-size"><b>dev</b><u>jobs</u></p>
            <center>
                <form action="/login" method="post">
                    <input type="text" class="form-input" placeholder="your professional email"/>
                    <input type="text" class="form-input" placeholder="your strong password"/>
                    <button class="button" type="submit"><b>login</b></button>
                </form>
            </center>
            <hr class="hr"/>
            <form action="/register" method="get">
                <button class="button" type="submit">register</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center footer">
            <hr class="hr"/>
            <p class="footer-email">info@devjobs.xyz</p>
        </div>
    </div>
</div>
</body>
</html>